body
{
  color: khaki;
  background-color: midnightblue;
  text-align: center;
}
hr
{
  /*! padding: 1rem; */
  border-style: solid;
  border-color: wheat;
}
p:not(#SERIOUS_TEXT)::first-letter
/*what is not the last? */
{
  font-size:xx-large;
  color: gold;
  text-shadow: -1px 1px 1px goldenrod;
  /*! color: yellow; */
}
.LeftSide
{
  border-style: none none none dotted;
}
.RightSide
{
  border-style: none dotted none none;
}
.LeftSide,
.RightSide
{
  padding: 100px 1px;
  background-color: cornflowerblue; 
  border-color: royalblue;
  margin: auto;
}
#SERIOUS_TEXT
{
  font-family: consolas ,roboto ,sans-serif;
  font-size: 0.66rem;
}
#IntroSection,#BeforeAfterSect
{
  margin: 0 auto;
  width: 66%;
  border-style: solid;
  border-color: cornflowerblue;
}
#BeforeAfterSect
{
  height: 500px;
  background-color: midnightblue;
}
div
{
  background-color: navy;
  padding: 1em 5px;
}
#IntroSection
{
  display: flex;
  margin: 0 auto;
}
figure
{
  display: grid;
  margin: auto;
  float: left;
  border-style: double;
}
figcaption
{
  padding: 2px;
  background-color: black;
}
#FirstColumn,#SecondColumn
{
  float: left;
  /*! width: 40%; */
  border-style: none dotted none none;
}
#FirstColumn
{
  width: 40%;
}
#SecondColumn
{
  float: right;
  border-style: none none none dotted;
  width: 40%
}
#AfterFigure
{
  float: left;
}
#BeforePic,#AfterPic,#DuringPic
{
  width: 180px;
}