body
{
  color: khaki;
  background-color: midnightblue;
  text-align: center;
}
hr
{
  /*! padding: 1rem; */
  border-style: solid;
  border-color: wheat;
}
p:not(#SERIOUS_TEXT)::first-letter
/*what is not the last? */
{
  font-size:xx-large;
  color: gold;
  text-shadow: -1px 1px 1px goldenrod;
  
  /*! color: yellow; */
}
.LeftImage::before
{
  /*help it fit*/
  padding: 3px;
}
.LeftImage
{
  background-color: red; 
  margin: auto;
  width: 100px;
  height: 100px;
  /*does nothing obvious in flex? defined anyway incase it's not flex*/
  float: left;
}
.RightImage::before
{
  padding: 3px;
}
.RightImage
{
  background-color: magenta; 
  margin: auto;
  width: 100px;
  height: 100px;
  /*ditto*/
  float: right;
}
#SERIOUS_TEXT
{
  font-family: sans-serif;
  font-size: smaller;
}
#IntroSection
{
  display: flex;
  margin: 0 auto;
  width: 50%;
  border-style: double;
  border-color: cornflowerblue;
}